html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: Georgia; 
}

body {
    padding: 0;
    margin: 0;
    font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
    font-weight: normal;
    line-height: 1.5;
    color: #34495e;
    background: #fefefe;
    scroll-behavior: smooth;
    height: 100%;
}
.top-bar {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1050;
    background-color: #fafafb;
    transition: box-shadow cubic-bezier(.165, .84, .44, 1) .25s;
    height: 50px;
    box-sizing: border-box;
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
}
.top-bar {
    border-top: 2px solid #34495e;
}
._fixed {
    margin: 0px;
    position: fixed;
    min-width: auto;
}
.top-bar .-container {
    margin: 0 150px;
}
.top-bar .-main {
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
.top-bar .logo-wrapper {
    float: left;
}
.top-bar .logo-wrapper .logo {
    font-size: 30px;
    font-style:italic;
}
.top-bar .navigation {
    padding-left: 48px;
    padding-right: 30px;
    font-size: 14px;
    height: 100%;
    max-width: 500px;
    opacity: 1;
    transform-origin: left center;
    transition: opacity .3s ease-in,max-width .3s ease-in;
    flex: 1 0 auto;
}
.top-bar .-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
}
.top-bar #item {
    display: inline-flex;
    line-height: 1;
}
.top-bar .-link {
    display: inline-flex;
    align-items: center;
    padding: 0 10px;
    text-decoration: none;
    white-space: nowrap;
    position: relative;
    transition: background-color cubic-bezier(.165, .84, .44, 1) .25s,border-bottom-color ease-in-out .25s;
}

a:hover { 

    color: #F48024;
    font-weight: normal;
}
.top-bar .searchbar {
    max-width: 750px;
}
.top-bar .searchbar {
    padding-left: 12px;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    max-width: 200px;
    position: relative;
}
.top-bar input[type="text"] {
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
}
.top-bar .searchbar input[type="text"].f-input {
    border-width: 1px;
}
.top-bar .searchbar input[type="text"].f-input {
    margin: 0;
    height: 36px;
    border-width: 1px;
    border-color: #c8ccd0;
    border-radius: 3px;
    width: 100%;
    font-size: 14px;
    background-color: #FFF;
    box-shadow: none;
    color: #3b4045;
}

a {
    color: #34495e;
    text-decoration: none;
}
.container1 {
    margin-top: 40px;
}
.container1 #content {
    padding: 25px 12px;
}
#content {
    box-sizing: content-box;
    margin: 0px 110px;
    width: 1060px;
    background-color: #FFF;
}
#mainbar, .mainbar {
    float: left;
    width: 700px;
    margin: 15px 30px;
    height: 100%;
    margin-bottom: 150px;
}
.posts_list{
    font-size: 16px;
    margin-right: 20px;
}
body.home-page .subheader, body.questions-page .subheader {
    margin-bottom: 0;
}
.subheader {
    clear: both;
    margin-bottom: 10px;
    height: 40px;
    border-bottom: 1px solid #e4e6e8;
}
h1 {
    color: #34495e;
    font-size: 18px;
    line-height: 2.5;
}
.subheader h1, .subheader h2 {
    float: left;
    margin-bottom: 0;
    font-weight: normal;
}
.sidebar{
    margin-left: 80px;
    float: left;
}
.tags , .sidebar_pages{
    line-height: 18px;
    float: left;
}
.pages_name{
    font-size: 12px;
    position: relative;
    display: inline-block;
    padding: .3em .4em;
    line-height: 1;
    white-space: nowrap;
    text-decoration: none;
    text-align: center;
    border-style: solid;
    transition: all .15s ease-in-out;
}
.tags li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-flex;
}
.tags li.current a, .tags li.current,  .sidebar_pages li.current a, .sidebar_pages li.current{
    color: #07C;
}

/* post */
.post_title {
    font-size: 25px;
}
.post_about{
    list-style-type: none;
    margin: 1px 2px;
    width: 800px;
    display: inline-flex;
}
.post_time{
    margin: 25px;
    color: #A0A0A0;
}
.post_classes{
    margin-left: 80px;
    margin-bottom: 40px;
    float: left;
    
}
.post_categories{
    margin-right: 10px;

}
.post_tags{
    margin-right: 10px;

}
.post_connect {
    margin-top: 10px; 
}

.side{
    display: table-cell;
}
/* footer */
.foot {
    width: 100%;
    display: flex;
    bottom: 0;
    margin-top: 100px;
    position: fixed;
    height: 50px;
    background-color: #34495e;
}
.footer_about {
    color: white;
    margin-top: 15px;
    margin-left: 170px;
    font-style:italic;
}
.theme{
    color: white;
    margin-top: 15px;
    margin-left: 230px;
    font-style:italic;
}
.visit{
    margin-top: 15px;
    margin-left: 30px;
    font-style:italic;
}
table {
    width: 100%; /*表格宽度*/
    max-width: 65em; /*表格最大宽度，避免表格过宽*/
    border: 1px solid #dedede; /*表格外边框设置*/
    margin: 15px auto; /*外边距*/
    border-collapse: collapse; /*使用单一线条的边框*/
    empty-cells: show; /*单元格无内容依旧绘制边框*/
}

table th,
table td {
  height: 35px; /*统一每一行的默认高度*/
  border: 1px solid #dedede; /*内部边框样式*/
  padding: 0 10px; /*内边距*/
}
table tbody tr:nth-child(2n) {
    background: rgba(158,188,226,0.12); 
}