<section>
  <div class="tile is-ancestor">
  	<div class="tile is-vertical">

  	  <div class="tile is-parent is-10">
  	  	<div class="tile is-child">
  	  	  <%- partial('_partial="" header')="" %="">
  	  	</%-></div>

		<div class="tile is-parent is-vertical is-9" style="padding:30px">
		  <div class="tile is-child hero-body">
		    <div class="tile is-vertical">
			  
		  	    <div class="title is-size-4">the list of leetCode problems' solutions</div>
		  	      
		        
		        <div class="is-vertical is-size-7 box">          
		          <nav class="level">		        	
		        	<div class="level-left">
		        	  <li><a href=""></a></li>
		        	</div>
		        	<div class="level-right">
		              
		        	</div>
		          </nav>   	              
  	            </div>	  	            
		    </div>
		    <%- partial('_partial="" paginator')="" %="">
		  </%-></div>
		</div>	
  	  </div>
  	</div>
  </div>

</section>
<%- partial('_partial="" footer')="" %=""></%->